#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem 2rem 2rem;
  text-align: center;
}

th {
  text-align: center;
}
table {
  margin: 0 auto;
  width: 600px;
  border-collapse: collapse;
}

th, td {
  width: 200px;
  height: 40px;
  text-align: center;
}